<div class="jumbotron" id="mainJumbotron">
    <h1>
        PLNR.io<sub>&alpha;</sub>&nbsp;&nbsp;<i class="fa fa-check"></i>
    </h1>
    <p>A fully-featured, yet simple, academic planner for students</p>
</div>

<div class="row">
    <div class="row">
        <h2>
            <i class="glyphicon glyphicon-star"></i>&nbsp;&nbsp;How it works
        </h2>
    </div>
    <div class="row">
        <table style="margin-left: 10%; margin-right: 10%; table-layout: fixed; width: 80%;">
            <thead>
            <th width="25%">
                <h3>
                    <i class="glyphicon glyphicon-pencil"></i>&nbsp;&nbsp;Tasks
                </h3>
                <h3>
                    <i class="glyphicon glyphicon-th"></i>&nbsp;&nbsp;Classes
                </h3>
                <h3>
                    <i class="glyphicon glyphicon-bookmark"></i>&nbsp;&nbsp;Events
                </h3>
            </th>
            <th width="12.5%">
                <i class="fa fa-arrow-right fa-4x"></i>
            </th>
            <th width="25%">
                <h1>
                    <b>&nbsp;PLNR.io</b>
                </h1>
            </th>
            <th width="12.5%">
                <i class="fa fa-arrow-right fa-4x"></i>
            </th>
            <th width="25%">
                <h3>
                    <i class="fa fa-check"></i>&nbsp;Organization
                </h3>
                <h3>
                    <i class="fa fa-check"></i>&nbsp;Productivity
                </h3>
                <h3>
                    <i class="fa fa-check"></i>&nbsp;Success
                </h3>
            </th>
            </thead>
        </table>
    </div>
    <br/>
    <div class="row">
        <h2>
            <i class="fa fa-lightbulb-o"></i>&nbsp;It's that simple&nbsp;<small>Data in, productivity out.</small>
        </h2>
        <h3>
            Hence PLNR<sub>&nbsp;input&nbsp;<i class="fa fa-arrow-right"></i>&nbsp;output&nbsp;</sub>: PLNR.io
        </h3>
    </div>
    <br/>
    <div class="row">
        <h2>
            <i class="fa fa-pencil-square-o"></i>&nbsp;Register now for free!&nbsp;<small>No payment info or in-app adds-on!</small>
        </h2>
        @Html.ActionLink("Register now...", "Register", "Home", new {}, new {@class = "btn btn-primary btn-lg"})
    </div>
</div>