@{
    ViewBag.Title = "About";
}
<header>
    <h2><i class="glyphicon glyphicon-info-sign"></i>&nbsp;@ViewBag.Title</h2>
</header>

<h3>Technologies used in this project</h3>

<div class="row">
    <div class="col-md-6">
        <h4>Front-end/UI</h4>
        <ul>
            <li>Bootstrap</li>
            <li>Bootstrap Date-Time picker</li>
            <li>Glyphicons Halflings</li>
            <li>jQuery</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h4>Back-end</h4>
        <ul>
            <li>ASP.NET MVC (C#)</li>
            <li>Microsoft Azure</li>
            <li>Microsoft SQL Server</li>
        </ul>
    </div>
</div>

<h3>Authors</h3>

<p>Pramod Kotipalli and Krishna Kotipalli</p>